*
{
    --PrimaryColor: #a62121;
    --SecondaryColor: #b33636;
    --tertiaryColor: #C7B7A3;
    --textColor: #E8D8C4;

    color: var(--textColor);

    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body
{
    background-color: var(--PrimaryColor);
}

#gameTable
{
    table-layout: fixed;
    width: 100%;
}

#MainMenuContainer
{
    position: absolute;

    padding-top: 120px;
    width: 100%;
}

form > input, textarea
{
    color: black;
    border: 0px;
    border-radius: 6px;
    padding: 4px;
    width: 100%;
}

form
{
    position: absolute;
    left: 25%;
    width: 50%;
}

tr
{
    position: relative;
    width: 100%;
    vertical-align: top;
}

td.GameHolder
{
    position: relative;
    background-color: var(--SecondaryColor);
    border: 6px solid var(--PrimaryColor);
    border-radius: 12px;
    padding: 0px 20px 60px 20px;
}

td.GameHolder > p
{
    color: var(--tertiaryColor);
}

.GameVideoContainer 
{
    position: relative;
    overflow: hidden;
    width: 100%;
    border-radius: 12px;
    padding-top: 56.25%;
  }

iframe.GameVideo
{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

button
{
    background-color: var(--tertiaryColor);
    color: var(--SecondaryColor);
    border: 0px;
    border-radius: 6px;
    transition: 0.25s;
    padding: 10px;

    font-size: medium;
    font-weight: 600;
}

button:hover
{
    background-color: var(--PrimaryColor);
    color: var(--tertiaryColor);
    transition: 0.25s;
}

button.OpenGameButton
{
    position: absolute;
    bottom: 20px;
    right: 20px;
}

button.EditGameButton
{
    position: absolute;
    bottom: 20px;
    left: 20px;
}

button.DeleteGameButton
{
    position: absolute;
    top: 20px;
    right: 20px;
}

table.NavBarTable
{
    width: 100%;
}

button.NavBarButton
{
    position: relative;
    width: 100%;
}

button.OpenGameButton:active
{
    background-color: var(--SecondaryColor);
    transition: 0.25s;
}

td.YearHeader
{
    position: relative;
    background-color: var(--tertiaryColor);
    border: 6px solid var(--PrimaryColor);
    border-radius: 12px;
    text-align: center;
}

td.YearHeader > h2
{
    color: var(--SecondaryColor);
}